<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18452770682-ia6ucgin6t6de8vh2prdjquded4pds1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18452770682-ia6ucgin6t6de8vh2prdjquded4pds1k</string>
	<key>API_KEY</key>
	<string>AIzaSyDQKmhlKCWKCKmBtjYlyEG3bKjwtSL3PKY</string>
	<key>GCM_SENDER_ID</key>
	<string>18452770682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookReader</string>
	<key>PROJECT_ID</key>
	<string>bookreader-635f1</string>
	<key>STORAGE_BUCKET</key>
	<string>bookreader-635f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18452770682:ios:713a86948e8ae4c6b730c3</string>
	<key>DATABASE_URL</key>
	<string>https://bookreader-635f1-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>